.battery {
  position: relative;
  width: 320px;
  height: 110px;
  border: 3px solid gray;
  border-radius: 8px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;

  &Cap {
    position: absolute;
    top: 50%;
    right: -16px;
    transform: translateY(-50%);
    width: 16px;
    height: 36px;
    border-top: 3px solid gray;
    border-right: 3px solid gray;
    border-bottom: 3px solid gray;
    border-radius: 4px;
  }
}

.track {
  height: 100%;
  width: 100%;
  background: transparent;
  position: relative;
  border: 2px solid gray;
  border-radius: 3px;
  overflow: hidden;
}

.thumb {
  height: 100%;
  width: 0px;
  background: white;
  outline: 0;

  &:hover,
  &:active {
    outline: 0;
  }
}

.guide {
  height: 100%;
  border-left: 2px solid gray;
  position: absolute;
  top: 0;

  &Important {
    border-left: 2px solid white;

    span {
      color: white;
    }
  }

  span {
    height: 100%;
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: sideways;
  }
}

.completion {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: green;
}
